<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title><%= title %></title>
        <!-- my css -->
		<link rel="stylesheet" href="/stylesheets/style.css">
        <!-- bootstrap css -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    </head>
    <body>
        <!-- nav bar -->
      <div class="container-fullwidth customNav"> 
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link" id="customLink" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="customLink" href="#">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="customLink" href="#">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="customLink" href="#">FAQs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="customLink" href="#">Help</a>
          </li>
        </ul>
		</div>


       

      <!-- main -->
      <div class="container-fullwidth main"> 
		    <div class="row">
          <div class="container-fullwidth title">
           <h1> <%= title %> </h1> 
          </div>
       
          <div class="col customCol">

            <!-- add -->
            <h3> Add Item To Table</h3>
            <form action="/item/add" method="post">
              <label for="Item_id">Item ID</label>
              <input type="text" name="Item_id" /> 
              <br>
              <label for="Item_name">Item Name</label>
              <input type="text" name="Item_name" />
              <br>
              <label for="Item_desc">Item Description</label>
              <input type="text" name="Item_desc" />
              <br>
              <label for="Item_quantity">Item Quantity</label>
              <input type="text" name="Item_quantity" />
              <br>
              <button class="customBtn" type="submit"> Add </button>
            </form>

                 
            <!-- delete-->
            <h3> Delete From Table By ID Or Name</h3>
              <form action="/item/delete" method="get">
                  <label for="Item_id">Item ID</label>
                  <input type="text" name="Item_id" /> 
                  <br>
                  <label for="Item_name">Item Name</label>
                  <input type="text" name="Item_name" /> 
                  <br>
                  <button class="customBtn" type="submit"> Delete </button>
              </form>

          </div>

          <!-- view -->
          <div class="col customCol">
            <h3> View Table </h3>
            <% for (var i=0; i<viewItems.length; i++) { %>
            <p> Item ID: <%= viewItems[i].Item_id %></p>
            <table class="customTable"> 
              <tr>
                <th > Name</th>
                <th> Description</th>
                <th> Quantity</th>
                <th> </th>
              </tr>

              <tr>
                <td> <%= viewItems[i].Item_name %> </td> 
                <td> <%= viewItems[i].Item_desc %> </td>
                <td>  <%= viewItems[i].Item_quantity %> </td>
                <td> 
                  <!-- update -->
                  <form action="/item/update" method="get">
                    <input type="hidden" name="Item_id" value="<%= viewItems[i].Item_id %>" />
                    <button class="customBtn" type="submit"> Edit </button>
                   </form>
                  </td>
                </tr>
              </table>
              <br />
              <% } %>
          </div>

          <div class="break">
          </div>
                
        <!-- to go to another page-->
        <div class="container-fullwidth">
          <h2> Select a table </h2>
          <ul> 
            <li> <a id="customLink" href="/order"> Orders </a> </li>
            <li> <a id="customLink" href="/customer"> Customers </a> </li>
            <li> <a id="customLink" href="/billing"> Billing </a> </li>
            <li> <a id="customLink" href="/contents"> Contents </a> </li>
            <li> <a id="customLink" href="/item"> Item </a> </li>
          </ul>
        </div>			
         
                                        
    </div>        
  </div>
        
  </body>
</html>